*.png
*.memh
*.memb
*.npy
*.pyc
*.json
*.mif
*.qmsg
*.vcd
*.hex
*.vpp
*.vvp

db/
incremental_db/
export_db/
output_files/
simulation/
greybox_tmp/
qdb/
.qsys_edit/

*.qws
*.qarlog
*.rpt
*.summary
*.smsg
*.pin
*.jdi
*.pof
*.sld
*.done
*.bak
*.rej
*.orig
*.quiproj.*.rdr.flock